body, html{
  height: 100%;
}

body {
  background: $dark-gray;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.logo{
  position: fixed;
  left: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  background: url(../images/logo.svg);
}
