.documents{
  background: $yellow;
  padding: 30px;
  overflow: scroll;
}

.document__wrap{
  width: 10000px;
}

.document__item{
  background: white;
  height: 250px;
  text-align: center;
  padding: 20px;
  float: left;
  margin-right: 30px;
}

.documentImage{
  display: inline-block;
  height: 100%;
}
