.documents{
  background: $yellow;
  padding: 30px;
  overflow: scroll;
}

.document__wrap{
  width: 10000px;
}

.document__item{
  background: white;
  height: 250px;
  text-align: center;
  padding: 10px;
  float: left;
  margin-right: 30px;
}

.documentImage{
  display: inline-block;
  height: 100%;
}

.popupDocument-Content {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    z-index: 1000;
    text-align: center;
    img{
      padding: 20px;
      height: 100%;
      display: inline-block;
    }
}
