.lockscreen__title{
  font-family: "Gotham A", "Gotham B";
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
  color: white;
  font-weight: 200;
  font-size: em(44);
}

.lockscreen__subtitle{
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: em(22);
}
